@color-dark-blue: #00008b;
@color-light-red: #ffcccb;
/* 1. Header & footer */
@header-panel__background-color: @color-dark-blue;
@copyright__background-color: @color-dark-blue;
@navigation-desktop__background: @color-blue1;
& when (@media-common = false) {
    .nav-sections {
        .lib-css(background, @navigation-desktop__background);
    }
}
@navigation-desktop-level0-item__color: @color-yellow-light1;
@navigation-desktop-level0-item__hover__color: @color-yellow-light2;
@submenu-desktop__background: @color-blue3;
@submenu-desktop-item__hover__background: @color-blue1;
@footer__background-color: @color-blue1;
@footer-links-color: @color-yellow-light1;
@footer-links-color-hover: @color-yellow-light2;
.block.newsletter .action.subscribe {
    background-color: darken(@theme__color__primary, 10%);
    border: 1px solid darken(@theme__color__primary, 10%);
    &:hover {
        background-color: darken(@theme__color__primary-alt, 10%);
        border: 1px solid darken(@theme__color__primary-alt, 10%);
    }
}
/* 2. Tabs */
@tab-control__background-color: @color-dark-blue;
@tab-content__background-color: @color-white;
@tab-control__hover__background-color: lighten(@tab-control__background-color, 15%);
@tab-control__active__color: @color-yellow-light2;
@tab-control__color: @color-yellow-light1;
/* 3. Links */
.lib-link(
    @_link-color: @color-orange-red1,
    @_link-color-visited: @color-orange-red1,
    @_link-color-hover: darken(@color-orange-red1, 10%),
    @_link-color-active: @_link-color-hover
) {
    .lib-css(color, @_link-color);
    &:visited {
        .lib-css(color, @_link-color-visited);
    }
    &:hover {
        .lib-css(color, @_link-color-hover);
    }
    &:active {
        .lib-css(color,@_link-color-active);
    }
}
/* 4. Messages */
@message-success__color: @color-dark-blue;
@message-success__background: lighten(@message-success-icon__color-inner, 50%);
@message-success-icon__color-inner: lighten(@color-dark-blue, 15%);
@message-success-icon__background: @color-dark-blue;
@message-info__color: @color-blue1;
@message-info__background: lighten(@message-info-icon__color-inner, 33%);
@message-info-icon__color-inner: lighten(@color-blue1, 15%);
@message-info-icon__background: @color-blue1;
@message-warning__color: @color-light-red;
@message-warning__background: darken(@message-warning-icon__color-inner, 50%);
@message-warning-icon__color-inner: darken(@color-light-red, 15%);
@message-warning-icon__background: @color-light-red;
@message-error__color:@message-warning__color;
@message-error__background: @message-warning__background;
@message-error-icon__color-inner: @message-warning-icon__color-inner;
@message-error-icon__background: @message-warning-icon__background;
